@page
@model MedPortal.Pages.DoctorsModel
@{
}
<a asp-page="CreateDoctors" style="text-decoration:none;"> Add Doctors </a>
<div class="hospis-grid">

    @foreach (Doctors doct in Model.Doctors)
    {
        <div class="hospis-card">
            <p>Название: @doct.FirstName</p>
            <p>Тип: @doct.LastName</p>
            <p>Адрес: @doct.Specialization</p>
            <p>Специализация: @doct.Experience</p>
            <p>Больница: @doct.Hospitals?.Name</p>
            <p>Адрес: @doct.Hospitals?.Adress</p>
            <a asp-page="Registration" style="text-decoration:none;"> Записаться </a>
        </div>
   }
</div>
